* {
    margin: 0;
}

.container {
    height: 100%;
    width: 100%;
    font-family: 'Mulish', sans-serif;
    
}
.sub-container {
    margin-left: 1rem;
    margin-right: 1rem;
}
.container a {
    text-decoration: none;
}
.material-symbols-outlined {
    display: none;
    
}

header {
    display: flex;
    align-items: center;
    gap: 47.4rem;
    background: -webkit-rgb(246, 248, 251);
    background: -o-rgb(246, 248, 251);
    background: -ms-rgb(246, 248, 251);
    background: -moz-rgb(246, 248, 251);
    background: rgb(246, 248, 251);
    padding-bottom: 1rem;
    
}
#recherche_conteneur {
    width: 30%;
    position: relative;
    right: 11.5rem;
    
}
#recherche_conteneur>form {
    display: flex;
    gap: 0.90rem;
    width: 100%;
    
}
#rechercheInput {
    width: 15rem;
}
nav {
    background: -webkit-rgb(246, 248, 251);
    background: -o-rgb(246, 248, 251);
    background: -ms-rgb(246, 248, 251);
    background: -moz-rgb(246, 248, 251);
    background: rgb(246, 248, 251);
}
/* navbar*/
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    position: relative;
    right: 1.2rem;
    width: 102.7%;
    

}


nav ul .col {
    font-size: 18px;
    background: -webkit-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: -o-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: -ms-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: -moz-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: linear-gradient(to bottom, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    width: 25%;
    height: 3rem;
    text-align: center;
    border-bottom: 2px solid rgb(4, 118, 167);
    margin-right: 0.1rem;
    
}
nav ul .col a {
    position: relative;
    color: rgb(7, 91, 218);
    top: 25%
}


.col ul {
  display: none;
  
  
}
.col:hover .menu1 {
    display: block;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 5;
    height: 6rem;
    top: 3.1rem;
    left: 2rem;
    width: 24.3%;
    background: -webkit-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: -o-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: -ms-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: -moz-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: linear-gradient(to bottom, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    
  }
.col:hover .menu1 li {
    border: none;
    text-align: start;
    
  }
 
  .col:hover .menu2 {
    display: block;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 5;
    height: 6rem;
    top: 3.1rem;
    left: 21.7rem;
    width: 24.3%;
    background: -webkit-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: -o-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: -ms-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: -moz-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: linear-gradient(to bottom, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    
  }
.col:hover .menu2 li {
    border: none;
    text-align: start;
    
  }

  .col:hover .menu3 {
    display: block;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 5;
    height: 6rem;
    top: 3.1rem;
    left: 41.6rem;
    width: 24.3%;
    background: -webkit-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: -o-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: -ms-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: -moz-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: linear-gradient(to bottom, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    
  }
.col:hover .menu3 li {
    border: none;
    text-align: start;
    
  }

  .col:hover .menu4 {
    display: block;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 5;
    height: 11rem;
    top: 3.1rem;
    left: 61.3rem;
    width: 24.3%;
    background: -webkit-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: -o-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: -ms-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: -moz-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: linear-gradient(to bottom, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    
  }
.col:hover .menu4 li {
    border: none;
    text-align: start;
    
  }



.navbar-footer{
    margin-top: 1.5rem;
    list-style: none;
    display: flex;
    position: relative;
    right: 2.5rem;
    margin-bottom: 1.5rem;
    
}

/* hero section */
section li {
    list-style: none;
}
section main {
    background: -webkit-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: -o-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: -ms-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: -moz-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: linear-gradient(to bottom, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    border-radius: 1rem;
    height: 23rem;
    margin-bottom: 2rem;

}

.main-title {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: rgb(12,92,148);
    position: relative;
    right: 0.7rem;
    width: 103%;
    height: 2rem;
}
.main-title h1 {
    font-size: 25px;
    position: relative;
    top: 0.1rem;
    font-weight: bold;
}

.main-subtitle {
    margin-bottom: 1rem;
    background-color: #fff;
    height: 2rem;
    position: relative;
    right: 0.8rem;
    width: 103%;
    
}
.main-subtitle p {
    position: relative;
    top: 0.3rem;
    color: rgb(52, 108, 148);
    margin-left: 0.3rem;

}

.main-title h1 {
    color: #fff;
    margin-left: 3rem;
    text-transform: uppercase;
}

.main-first-section {
    display: flex;
    margin-left: 3rem;
    margin-right: 3rem;
    width: 100%;
    position: relative;
    right: 5rem;
    
}

.main-first-section-content {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   align-items: flex-start;
   justify-content: center;
   


}
.main-first-section-content img {
    margin-left: 2.2rem;

}



.aside-first-section {
    background: -webkit-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: -o-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: -ms-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: -moz-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: linear-gradient(to bottom, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    border-radius: 1rem;
    height: 15.5rem;
    margin-bottom: 1rem;

}

.aside-first-section ul {
   width: 90%;
   margin-top: 3rem ;
   margin-right: 4rem ;
   position: relative;
   right: 1.5rem;
}
.aside-first-section ul a {
    color: black;
}

.aside-first-section-details {
    margin-top: 6rem;
    margin-left: 13rem;

}
.aside-first-section-details a {
    color: rgb(12,92,148);
    font-weight: bold;
    
}
.aside-title {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: rgb(12,92,148);
    height: 2rem;

}

.aside-title h3 {
    margin-left: 3rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.aside-second-section {
    background: -webkit-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: -o-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: -ms-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: -moz-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: linear-gradient(to bottom, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    border-radius: 1rem;
    height: 21rem;
    display: flex;
    flex-direction: column;
}
.aside-second-section ul {
    margin-top: 2rem;
    position: relative;
    right: 1.5rem;
}
.aside-second-section li {
    margin-bottom: 0.2rem;

   
   
}
.aside-second-section li a {
    color: black;
}

.aside-second-title {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: rgb(168, 8, 8);
    height: 2rem;
}

.aside-second-title h3 {
    margin-left: 3rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;

}

.aside-second-section-details {
    margin-top: 3rem;
    margin-left: 12.5rem;

}
.aside-second-section-details a {
    color: rgb(168, 8, 8);
    font-weight: bold;
    
}

.date {
    font-weight: bold;
    color: rgb(168, 8, 8);
}

/* footer */
footer {
    position: relative;
    top: 100%;
    margin-top: 2rem;
    background-color: rgb(19, 150, 225);
    height: 18rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  
}

footer div ul {
    position: relative;
    top: 1rem;
    display: flex;
    gap: 1rem;
}

footer div>ul>li {
    list-style: none;
}
.footer-list {
    display: flex;
    flex-direction: column;
}
.footer-sub-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 0.5px;
    font-size: 13px;
    

}

.footer-sub-list li::before {
      position: relative;
      top: 0.4rem;
      margin-right: 0.7rem;
      content: "•";
      color: rgb(117, 181, 236);
      font-size: 35px;
      font-weight: bold;
}
.footer-list p {
    margin-left: 2.4rem;
    font-weight: bold;
    color: #fff;
}
.footer-list a {
    color: #fff;
}
.footer-bottom {
    position: absolute;
    top: 87%;
    width: 100%;
    height: 2.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: rgb(4, 4, 108);
}

.footer-bottom a {
    position: relative;
    font-size: 12px;
    top: 0.5rem;
    left: 27%;
    color: #fff;
}

/* responsive*/
@media screen and (max-width: 820px) {
    .material-symbols-outlined {
        display: block;
        position: relative;
        top: 2rem;
        left: 23rem;
        cursor: pointer;
    }
   
    nav ul {
        display: flex;
        flex-direction: column;
        width: 100%
        
        
    }

    section main {
        height: 20%;
    }
    .main-first-section {
        margin-left: 25%;
    }
    .main-title {
        width: 106.9%;
    }
    .main-subtitle {
        width: 106.9%;
        height: fit-content;
        padding-bottom: 0.5rem;
    }
    .main-subtitle p {
        
    }

    .main-first-section {
        display: flex;
        flex-direction: column;
    }
    .aside-first-section {
        height: 48%;
    }
    footer {
        height: 100%;
        margin-top: 4rem;
    }

    footer div ul {
        display: flex;
        flex-direction: column;
    }
    .footer-bottom {
        top: 98%;
        height: fit-content;
    }
    .footer-bottom a {
        position: relative;
        left: 1rem;
        top: 1px
    }
}
