* {
    margin: 0;
}

body {
    margin-left: 2rem;
    margin-right: 2rem;
}

header {
    display: flex;
    align-items: center;
    gap: 53rem;
    background: -webkit-rgb(246, 248, 251);
    background: -o-rgb(246, 248, 251);
    background: -ms-rgb(246, 248, 251);
    background: -moz-rgb(246, 248, 251);
    background: rgb(246, 248, 251);
    
}
nav {
    background: -webkit-rgb(246, 248, 251);
    background: -o-rgb(246, 248, 251);
    background: -ms-rgb(246, 248, 251);
    background: -moz-rgb(246, 248, 251);
    background: rgb(246, 248, 251);
}
/* navbar*/

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    

}

nav li {
    font-size: 25px;
    background: -webkit-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: -o-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: -ms-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: -moz-linear-gradient(top, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    background: linear-gradient(to bottom, rgb(195, 215, 226) 0%, rgb(245, 246, 248) 21%);
    width: 25%;
    height: 3rem;
    text-align: center;
    border-bottom: 2px solid rgb(4, 118, 167);
}
.nav a {
    text-decoration: none;
    
}

.navbar-first-element>ul {
  display: none;
}

.navbar-second-element>ul {
    display: none;
}

.navbar-third-element>ul {
    display: none;
}

.navbar-fourth-element>ul {
    display: none;
}
